.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: cursive;
}

.quote-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  position: relative;
  background: #50C9C3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Times New Roman', Times, serif;
}
 .heading{
  font-size: 2.3rem;
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
   

 }

.quote-text {
  font-size: 1.8rem;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  
}

.copy-icon i{
  font-size: 1.3rem;
  

}

.blockquote{
  font-size: 1.6rem;
}


.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


button {
  background: #50C9C3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  margin:  0 20px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.quote-author{
  text-align: end;
  padding-top: 10px;
  font-size: medium;
}

footer {
  position: fixed;
  bottom: 10px; /* Adjust this value as needed */
  right: 10px; /* Adjust this value as needed */
  color: #ffffff; /* Set the color of the text */
  font-size: 14px; /* Adjust the font size as needed */
}

.copyright{
  text-align: end;
}
